%h1= @product.name

%p
    = image_tag @product.image

%p
    = link_to 'Edit', edit_product_path(@product)
    \|
    = link_to 'Back', products_path

= render "auction"
= render "bid"

:javascript
    App = {
        websocket_url: "wss://#{request.host}:#{request.port}/"
    };
-# morao sam dodati s inace mi je javljao gresku da ne moze da ostvari unsecured connection, na sajt do koga je dosao preko secured connectionna, tj. preko https-auction
-# njemu to nije pokazivao verovatno jer je radio na localhostu